{% load static %}

<!DOCTYPE html>

<html>

    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <title>Studencki Budzet</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <nav>
            <div class="nav-wrapper">
                <ul class="left hide-on-med-and-down" >
                    <li><a href='{% url "index" %}' class='btn waves-effect waves-light brown' >Powrót</a></li>
                </ul>
                <a class='brand-logo center'>Tutaj możesz kontorolować swoje wydatki na rozrywkę!</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href='{% url "logout" %}' class='btn'>Wyloguj</a></li>
                </ul>
            </div>
        </nav>
     <br>
        <div class="section">
            <div class="row">
                <form class="col s12" action='{% url "add entertainment" %}' method='post'>
                    {% csrf_token %}
                    <div class="row">
                        <div class="container center">
                            <h4 class='center'>Twoje koszty związane z rozrywką: <span style="color:rgb(255, 0, 234);">{{entertainment}}</span> PLN</h4>
                            <br>
                            <br>
                            <div class="input-field col s3">
                                <input placeholder="Wprowadź nazwę" name="expense_name" id='expense_name' type='text' class='validate'>
                                <label for='expense_name'>Dodaj wydatek na rozrywkę </label>
                                <span class="helper-text" data-error="wrong" data-success="right"></span>
                            </div>
                            <div class="input-field col s3">
                                <input placeholder='Wprowadź kwotę ze znakiem +/-' name='cost' id='cost' type='number' class='validate'>
                                <label for='cost'>Dodaj kwotę</label>
                                <span class="helper-text" data-error="wrong" data-success="right"></span>
                            </div>
                            <div class="input-field col s3">
                                <input placeholder='Wprowadź datę' name="expense_date" id="expense_date" type="date" class='datepicker'>
                                <label for="expense_date">Dodaj datę</label>
                                <span class="helper-text" data-error="wrong" data-success="right"></span>
                            </div>
                            <button class="btn waves-effect waves-light" type="submit" name="action">Nowy wydatek
                                <i class="material-icons right">add_circle</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="section">
            <div class="row">
                <form class="col s12" action='{% url "remove entertainment" %}' method='post'>
                    {% csrf_token %}
                    <div class="row">
                        <div class="container center">
                            <div class="input-field col s3">
                                <input placeholder="Nazwa wydatku" name="expense_name" id='expense_name' type='text' class='validate'>
                                <label for='expense_name'>Usuń wydatek z listy</label> <span class="helper-text" data-error="wrong" data-success="right"></span>
                            </div>
                            <div class="input-field col s3">
                                <input placeholder='Wprowadź kwotę' name='cost' id='cost' type='number' class='validate'>
                                <label for='cost'>Podaj kwotę wydatku</label>
                                <span class="helper-text" data-error="wrong" data-success="right"></span>
                            </div>
                            <div class="input-field col s3">
                                <input placeholder='Podaj datę zakupu' name="expense_date" id="expense_date" type="date" class='datepicker'>
                                <label for="expense_date">Potwierdź datę zakupu</label>
                                <span class="helper-text" data-error="wrong" data-success="right"></span>
                            </div>
                            <button style="color:rgb(255, 255, 255);" class=" btn waves-effect waves-light red" type="submit" name="action">&nbspUsuń pozycje z listy&nbsp
                                <i class="material-icons right">cancel</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="section">
            <div class="row">
                <form class="col s12" action='{% url "edit entertainment" %}' method='post'>
                    {% csrf_token %}
                    <div class="row">
                        <div class="container center">
                            <div class="input-field col s3">
                                <input placeholder="Nazwa wydatku do edycji" name="expense_name" id='expense_name' type='text' class='validate'>
                                <label for='expense_name'>Edytuj wydatek z listy</label>
                                <span class="helper-text" data-error="wrong" data-success="right"></span>
                            </div>
                            <div class="input-field col s2">
                                <input placeholder='Nowa nazwa' name='expense_new_name' id='expense_new_name' type='text' class='validate'>
                                <label for='expense_new_name'>Podaj nową nazwę wydatku</label>
                                <span class="helper-text" data-error="wrong" data-success="right"></span>
                            </div>
                            <div class="input-field col s2">
                                <input placeholder='Nowa kwota' name="cost" id="cost" type="number" class='validate'>
                                <label for="cost">Podaj nową kwotę wydatku</label>
                                <span class="helper-text" data-error="wrong" data-success="right"></span>
                            </div>
                            <div class="input-field col s2">
                                <input placeholder='Nowa data' name="expense_date" id="expense_date" type="date" class='datepicker'>
                                <label for="expense_date">Podaj nową datę zakupu</label>
                                <span class="helper-text" data-error="wrong" data-success="right"></span>
                            </div>
                            <button style="color:rgb(255, 255, 255);" class=" btn waves-effect waves-light black" type="submit" name="action">Edytuj wydatek
                                <i class="material-icons right">create</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="progress">
            <div class="determinate" style="width: 100%"></div>
        </div>
        <div class="section">
            <div class="row">
                <div class="container">
                    <div class="col s6">
                        <table class="striped centered responsive-table">
                            <thead>
                                <tr>
                                    <th>Nazwa</th>
                                    <th>Kwota</th>
                                    <th>Data transakcji</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for entertain_item in entertainment_item %}
                                <tr>
                                    <td>{{ entertain_item.expense_name }}</td>
                                    <td>{{ entertain_item.cost }}</td>
                                    <td>{{ entertain_item.date_added}}</td>
                                    <td></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col s6">
                        <img class='responsive-img' src= "{% static 'budget_app/entertainment.jpg' %}">
                    </div>
                </div>
    </div>
        <footer class="page-footer">
            <div class="footer-copyright">
              <div class="container">
                © 2022 Projekt na Bazy - Szymon Koster - Koszty Rozrywki
              </div>
            </div>
          </footer>     
    </div>



        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.datepicker');
                var instances = M.Datepicker.init(elems, {format:'yyyy-mm-dd'});
            });
        </script>
    </body>

</html>